@model LALCO_PollingSystem.Models.VM.AnswerVM
@using LALCO_PollingSystem.Models
@{
    ViewBag.Title = "Index";
}

<h2>Voting</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>QuestionVM</h4>*@
        <hr />
        <div style="display:none;">
            @if (Session["LoggedInUser"] != null)
            {
                var usr = Session["LoggedInUser"] as User;
                @Html.TextBoxFor(model => model.UserID, new { Value = usr.ID })
            }

        </div>
        @if (Model != null)
        {
            <div class="container">
                @for (int i = 0; i < Model.QueAnswer.Count(); i++)
                {
                    <div class="panel panel-info">

                        <div style="display:none;">
                            <!--Question ID -->
                            @Html.TextBoxFor(model => model.QueAnswer[i].ID, new { Value = Model.QueAnswer[i].ID })
                        </div>
                        <div class="panel-heading" style="color:black;">@Model.QueAnswer[i].QuestionDesc</div>
                        <div class="panel-body">
                            @for (int j = 0; j < Model.QueAnswer[i].Answers.Count(); j++)
                            {
                                var id = Model.QueAnswer[i].ID;
                                @Html.RadioButtonFor(model => model.selectedAnswer[i], @Model.QueAnswer[i].Answers[j].ID)<span style="padding-left:5px;padding-right:5px;">@Model.QueAnswer[i].Answers[j].AnswerDesc</span>;
                            }
                        </div>
                    </div>
                }
            </div>

        }
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" style="margin-left:15px;" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="status-msg">
    @ViewBag.Msg
</div>
<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

